<!-- div class="container-fluid">
  <div class="row">
    <div class="col-md-8 jumbotron">
      <h2>IETF Last Call</h2>
      <p>HTTP/2 and HPACK are currently in IETF Last Call.</p>
    </div>
    <div class="col-md-4">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/HTTP_2" data-widget-id="434108514856755201">Tweets by @HTTP_2</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div -->
