<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 jumbotron">
      <h1>HTTP/2</h1>
      <p>This is the home page for the effort to define HTTP/2, a major revision of
the Web's protocol. It is maintained by the <a href="https://httpwg.github.io/">IETF HTTP Working
Group</a>.</p>
    </div>
    <div class="col-md-4">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/HTTP_2" data-widget-id="434108514856755201">Tweets by @HTTP_2</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
