<div class="jumbotron">
  <h2>Upcoming Meeting</h2>
  <p>HTTPbis is holding an Interim Meeting January 22-24 in Zurich, CH.</p>
  <p><a class="btn btn-primary btn-lg" role="button" 
      href="https://github.com/http2/wg_materials/blob/master/interim-14-01/arrangements.md">Learn more</a></p>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 jumbotron">
      <h2>Upcoming Meeting</h2>
      <p>HTTPbis is holding a Design Team Meeting 8 March in London.</p>
      <p><a class="btn btn-primary btn-lg" role="button" 
          href="https://github.com/http2/wg_materials/blob/master/interim-14-03/arrangements.md">Learn more</a></p>
    </div>
    <div class="col-md-4">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/HTTP_2" data-widget-id="434108514856755201">Tweets by @HTTP_2</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>

