<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">HTTP/2</a>
  </div>
  
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Specifications<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://tools.ietf.org/html/draft-ietf-httpbis-http2/">HTTP/2 (IETF draft)</a></li>
            <li><a href="http://tools.ietf.org/html/draft-ietf-httpbis-header-compression/">HPACK (IETF draft)</a></li>
            <li><a href="(http://tools.ietf.org/html/draft-ietf-httpbis-alt-svc/">Alt-Svc (IETF draft)</a></li>
            <li class="divider"></li>
            <li><a href="http://http2.github.com/http2-spec/">HTTP/2 (editors' copy)</a></li>
            <li><a href="http://http2.github.com/http2-spec/compression.html">HPACK (editors' copy)</a></li>
            <li><a href="http://http2.github.com/http2-spec/alt-svc.html">Alt-Svc (editors' copy)</a></li>
            <li class="divider"></li>
            <li><a href="https://github.com/http2/http2-spec">Specifications Repository</a></li>            
          </ul>
      </li>

      <li><a href="https://github.com/http2/http2-spec/wiki/Implementations">Implementations</a></li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Participate<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://lists.w3.org/Archives/Public/ietf-http-wg/">Group Mailing List <span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a href="https://www.ietf.org/mailman/listinfo/http-devops/">DevOps Mailing List <span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a href="https://github.com/http2/wg_materials">Meeting Materials Repository</a></li>
            <li><a href="http://tools.ietf.org/wg/httpbis/minutes">Official Meeting Minutes</a></li>
            <li><a href="http://www.ietf.org/jabber/logs/httpbis/">Jabber Logs</a></li>
          </ul>
      </li>

      <li><a href="https://github.com/http2/http2-spec/issues">Issues</a></li>
      <li><a href="https://twitter.com/http_2"><img src="https://g.twimg.com/Twitter_logo_blue.png" width="28" height="23"></a></li>

            
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">IETF HTTPbis WG<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://trac.tools.ietf.org/wg/httpbis/trac/wiki">Home Page</a></li>
            <li><a href="http://www.ietf.org/html.charters/httpbis-charter.html">Charter</a></li>
            <li><a href="https://twitter.com/httpbis">on Twitter</a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>